::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  /* margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}
img {
  max-width: 100%;
}
.container {
  background-color: hsl(244, 38%, 16%);
  font-family: "Inter";
  width: 100%;
  max-width: 250px;
  /* padding: 2em; */
  margin: 2em auto;
  /* display: flex; */
  border-radius: 10px;
}

@font-face {
  font-family: "Inter";
  src: url(/ASSERT/FONTS/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Lexend Deca";
  src: url(/ASSERT/FONTS/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

.stats-overview {
  padding: 1.2em;
  text-align: center;
}
.stats-title {
  color: hsl(0, 0%, 100%);
  font-size: 1.32em;
  margin-bottom: 12px;
}

.image-mobile {
  color: hsl(277, 64%, 61%);
  max-width: 250px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.stats-quote {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 11px;
  font-family: "Lexend Deca";
  margin-bottom: 3em;
  /* text-align: center; */
}
.insights {
  color: hsl(277, 64%, 61%);
}

.stats-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 185px;
  background-color: hsl(277, 64%, 61%);
  backdrop-filter: blur(5px);
  opacity: 0.5;
}
.stats-info {
  display: flex;
  gap: 30px;
}

.companies-number {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
}

.companies {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  font-size: 10px;
}

.templates-number {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
}

.templates {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  font-size: 10px;
}

.queries-number {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
}

.queries {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  font-size: 10px;
}

.stats-info {
  display: flex;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
